@import "tailwindcss";

:root {
  --background: #fff;
  --background-muted: #a3a3a3;
  --foreground: #000;
  --foreground-muted: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --font-sans: var(--font-zalando-sans);

  --transition-duration-long: 0.640s;
  --transition-duration-short: 0.420s;
  
  --ease-default: cubic-bezier(0.87, 0, 0.13, 1);
}

body {
  font-family: var(--font-zalando-sans);
}

::selection {
  @apply bg-foreground text-background;
}

a, button {
  @apply cursor-pointer;
}

@utility layout-grid {
  @apply grid grid-cols-12 gap-4 mx-4;
}

@utility text-caption {
  @apply font-medium text-[clamp(.625rem,.5vw,.75rem)] uppercase leading-none;
}

.project-link--active:after {
  transform-origin: left !important;
  scale: 1 !important;
}

.prose a {
  @apply text-foreground underline;
}

.prose p {
  @apply mt-4 leading-4;
}

.prose ul {
  @apply list-disc space-y-2 my-8;
}

.prose strong {
    font-weight: 800;
}